

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


:root{

    /* primary */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* neutral */
    --dark-gray: hsl(0, 0%, 59%);

    --fw-light: 400;
    --fw-bold: 700;

}

html {
    font-size: 18px;
}

.container{
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-position: left -30% top 250%, right -30% bottom 250%;
    background-repeat: no-repeat;
    background-color: var(--dark-cyan);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff ;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    position: relative;
    width: 21rem;
}

.card-top{
    background-image: url('./images/bg-pattern-card.svg');
    margin-bottom: 5rem;
    display: flex;
    width: 100%;
}

.card-avatar{
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    margin: auto;
    justify-items: center;
    align-items: end;
    border: 5px solid white;
    transform: translateY(50%);
}

.card-middle{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-bottom {
    border-top: 1px solid var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name{
    color: var(--very-dark-desaturated);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    margin-bottom: 0.89rem;
}

.card-name span{
    color: var(--dark-grayish-blue);
    font-weight: var(--fw-light);
}

.card-location{
    margin-bottom: 2rem;
    color: var(--dark-grayish-blue);
}

.card-bottom{
    padding: 1rem 2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.card-social{
    color: var(--very-dark-desaturated);
    font-weight: var(--fw-bold);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.card-social:nth-child(2){
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.card-social span{
    font-size: 10px;
    color: var(--dark-grayish-blue);
    font-weight: var(--fw-light);
}

@media only screen and (max-width: 480px)  {
    .container{
        background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
        background-position: left -100% top -150%, right -100% bottom -150%;
        background-size: 75% 75%; 
    }

    .card {
        width: 80%;
    }

}




